APP_NAME=papas1
APP_URL=http://localhost:8080
APP_INTERNAL_URL=http://php-apache:80
APP_ENV=development

MYSQL_SERVERNAME=mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=webapp01
MYSQL_USER=root
MYSQL_PASSWORD=root

APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data
