APP_NAME=papas1
APP_URL=http://localhost:8080
APP_INTERNAL_URL=http://php-apache:80
# Environment directory
# src = development
# dist = production
ENV_DIR=src 

MYSQL_SERVERNAME=mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=webapp01
MYSQL_USER=webapp
MYSQL_PASSWORD=webapp_pass

APACHE_RUN_USER=www-data
APACHE_RUN_GROUP=www-data
